@mixin respond($breakpoint) {
  @if $breakpoint == xs-phone {
    @media only screen and (max-width: 20em) {
      @content;
    }
  }
  @if $breakpoint == s-phone {
    @media only screen and (max-width: 23.4375em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 26.5625em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 31em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == lan-desktop {
    @media only screen and (min-width: 90em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 160em) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: Noto sans, sans-serif;
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(tablet) {
    font-size: 50%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(desktop) {
    font-size: 75%;
  }
  @include respond(lan-desktop) {
    font-size: 94%;
  }
  @include respond(big-desktop) {
    font-size: 99%;
  }
}

@mixin cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Noto sans, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  @include respond(tablet) {
    font-size: 1.4rem;
  }
  @include respond(tab-port) {
    font-size: 1.1rem;
    text-align: center;
  }
  @include respond(s-phone) {
    font-size: 0.94rem;
    text-align: center;
  }
  @include respond(xs-phone) {
    font-size: 1.1rem;
    text-align: center;
  }
}
@mixin cardDescription {
  color: rgba(0, 0, 0, 0.6);
  @include respond(tablet) {
    font-size: 1.3rem;
  }
  @include respond(tab-port) {
    font-size: 0.94rem;
    text-align: center;
  }
  @include respond(s-phone) {
    font-size: 0.84rem;
    text-align: center;
  }
  @include respond(xs-phone) {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.1rem;
    text-align: center;
  }
}
