// {}
// t
// y
.contacts {
  width: 100%;
  min-height: 50rem;
  height: auto;
  @include respond(tab-land) {
    height: auto;
    padding-bottom: 2rem;
  }
  @include respond(tablet) {
    height: auto;
    width: 71rem;
  }
  @include respond(tab-port) {
    height: auto;
    width: 100%;
  }
  @include respond(s-phone) {
    height: auto;
    width: 100%;
  }
  @include respond(xs-phone) {
    height: auto;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    padding: 1rem 10rem;
    @include respond(tab-land) {
      flex-direction: column;
      pading: 1rem;
    }
    @include respond(tablet) {
      padding: 1rem 18rem;
      flex-direction: column;
    }
    @include respond(tab-port) {
      padding: 8rem;
      flex-direction: column;
    }
    @include respond(s-phone) {
      padding: 6rem;
      flex-direction: column;
    }
    @include respond(xs-phone) {
      padding: 4rem;
      flex-direction: column;
    }
    &--form {
      margin-right: 7rem;
      border-right: 2px solid rgba(211, 211, 211, 0.4);
      padding-right: 7rem;
      @include respond(tab-land) {
        border: none;
        margin: 0;
        padding: 1rem;
      }
      @include respond(tablet) {
        border: none;
        margin: 0;
        padding: 1rem;
      }
      @include respond(tab-port) {
        border: none;
        margin: 0;
        padding: 0;
      }
      @include respond(s-phone) {
        border: none;
        margin: 0;
        padding: 0;
      }
      @include respond(xs-phone) {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  &__form--heading,
  &__faq--heading {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
    @include respond(tab-land) {
      text-align: center;
    }
    @include respond(tablet) {
      text-align: center;
    }
    @include respond(tab-port) {
      text-align: center;
    }
    @include respond(s-phone) {
      text-align: center;
    }
    @include respond(xs-phone) {
      text-align: center;
    }
  }
}
.form {
  border-radius: 5px;
  padding: 3rem 2rem;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30rem;
  height: 36rem;
  @include respond(tab-land) {
    width: 20rem;
    height: 25rem;
  }
  @include respond(tablet) {
    width: 37rem;
    height: 41rem;
    padding: 3rem 5.4rem;
  }
  @include respond(tab-port) {
    width: 32rem;
    height: 37rem;
    padding: 3rem 4.5rem;
  }
  @include respond(s-phone) {
    width: 30rem;
    height: 35rem;
    padding: 3rem 3rem;
  }
  @include respond(xs-phone) {
    width: 28rem;
    height: 35rem;
    padding: 3rem 2rem;
  }
}
.name__label,
.email__label,
.message__label {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  color: rgba(0, 0, 0, 0.65);
}
.firstname,
.email {
  width: 23rem;
  height: 2.4rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  @include respond(tab-land) {
    width: 17rem;
    height: 2.4rem;
  }
  @include respond(tablet) {
    width: 25rem;
    height: 3.3rem;
  }
  @include respond(tab-port) {
    width: 23rem;
    height: 3.2rem;
  }
  @include respond(s-phone) {
    width: 23rem;
    height: 3rem;
  }
  @include respond(xs-phone) {
    width: 23rem;
    height: 3rem;
  }
}
.message {
  width: 23rem;
  height: 13rem;
  resize: none;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  @include respond(tab-land) {
    width: 17rem;
    height: 14rem;
  }
  @include respond(tablet) {
    width: 25rem;
    height: 14rem;
  }
  @include respond(tab-port) {
    width: 23rem;
    height: 13rem;
  }
  @include respond(s-phone) {
    width: 23rem;
    height: 13rem;
  }
  @include respond(xs-phone) {
    width: 23rem;
    height: 13rem;
  }
}
.submit__btn {
  width: 23rem;
  border: none;
  height: 2.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  @include respond(tab-land) {
    width: 17rem;
    height: 2.4rem;
  }
  @include respond(tablet) {
    width: 25rem;
    height: 3.4rem;
  }
  @include respond(tab-port) {
    width: 23rem;
    height: 2.7rem;
  }
  @include respond(s-phone) {
    width: 23rem;
    height: 2.7rem;
  }
  @include respond(xs-phone) {
    width: 23rem;
    height: 2.5rem;
  }
}
.accordion {
  width: 53rem;
  @include respond(tab-land) {
    width: 20rem;
  }
  @include respond(tablet) {
    width: 37rem;
  }
  @include respond(tab-port) {
    width: 32rem;
  }
  @include respond(s-phone) {
    width: 30rem;
  }
  @include respond(xs-phone) {
    width: 28rem;
  }
}
.accordion-header > .accordion-button {
  font-size: 1.3rem;
  border: 0.5px solid lightgray;
}
.accordion-body {
  font-size: 1.05rem;
}
