//{}
//t
//y
//

.footer {
  width: 100%;
  height: auto;
  color: rgba(255, 255, 255, 0.95);

  &__wrapper {
    background-color: #414042;
    display: flex;
    justify-content: space-between;
    padding: 3rem 16rem 10rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
  }
  &__title {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
.address,
.link__1,
.link__2,
.link__3,
.link__4 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: rgba(255, 255, 255, 0.85);
}
.link__1,
.link__2,
.link__3,
.link__4 {
  cursor: pointer;
}
.copyrights {
  display: flex;
  color: rgba(255, 255, 255, 0.95);
  & > span {
    color: red;
  }
}
