#services {
  width: 100%;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
.services__contanier {
  height: 63rem;
  background-color: rgba(227, 227, 227, 0.5);
  margin: 0.7rem;
  padding: 15rem 5.8rem;
  display: flex;
  align-items: center;
  @include respond(tablet) {
    width: 98rem;
    padding: 4rem 2rem;
    margin: 0.8rem;
  }
  @include respond(tab-port) {
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
    margin: 0;
  }
  @include respond(s-phone) {
    width: 100%;
    padding: 6rem 2rem;
    flex-direction: column;
    margin: 0;
  }
  @include respond(xs-phone) {
    width: 100%;
    height: 100%;
    padding: 7rem 4.5rem;
    flex-direction: column;
    margin: 0;
  }

  &--text {
    flex: 60%;
    width: 100%;
    @include respond(tablet) {
      flex: 20%;
    }
    @include respond(tab-port) {
      flex: 50%;
      padding-bottom: 7rem;
    }
    @include respond(s-phone) {
      flex: 50%;
      padding-bottom: 5rem;
    }
    @include respond(xs-phone) {
      flex: 50%;
      padding-bottom: 5rem;
    }
    & > .title {
      font-size: 3rem;
      font-weight: 400rem;
      margin-bottom: 1rem;
      @include respond(tablet) {
        font-size: 3.7rem;
      }
      @include respond(tab-port) {
        font-size: 2.6rem;
      }
      @include respond(s-phone) {
        font-size: 2.4rem;
      }
      @include respond(xs-phone) {
        font-size: 2.2rem;
        text-align: center;
      }
    }
    & > .description {
      width: 30rem;
      height: auto;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 3.8rem;
      font-size: 1.16rem;
      @include respond(tablet) {
        font-size: 1.4rem;
        width: 27rem;
        margin-bottom: 4rem;
      }

      @include respond(tab-port) {
        width: 24rem;
        font-size: 1.1rem;
        margin-bottom: 3rem;
      }
      @include respond(s-phone) {
        width: 24rem;
        font-size: 1.1rem;
        margin-bottom: 3rem;
      }
      @include respond(xs-phone) {
        width: 24rem;
        font-size: 1.1rem;
        margin-bottom: 3rem;
        text-align: center;
      }
    }
    & > .explore-btn {
      width: 12rem;
      height: 3.5rem;
      color: rgba(255, 255, 255, 0.9);
      background-color: black;
      border: none;
      cursor: pointer;
      @include respond(tablet) {
        width: 13rem;
        height: 4.4rem;
      }
      @include respond(tab-port) {
        width: 12rem;
        height: 3.5rem;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.8);
      }
      @include respond(s-phone) {
        width: 11rem;
        height: 3.4rem;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.8);
      }
      @include respond(xs-phone) {
        width: 10rem;
        height: 3rem;
        font-size: 1.05rem;
        color: rgba(255, 255, 255, 0.8);
        margin: 0 0 0 8rem;
      }
    }
  }
  &--cards {
    flex: 1;
    display: grid;
    grid-template-columns: 28rem 28rem;
    grid-template-rows: 15rem 15rem;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    @include respond(tablet) {
      grid-template-columns: 29rem 29rem;
      grid-template-rows: 16rem 16rem;
      grid-row-gap: 1.2rem;
      grid-column-gap: 1.2rem;
    }
    @include respond(tab-port) {
      grid-template-columns: 21.5rem 21.5rem;
      grid-template-rows: 14rem 14rem;
      grid-row-gap: 1.2rem;
      grid-column-gap: 1.2rem;
    }
    @include respond(s-phone) {
      grid-template-columns: 28rem;
      grid-template-rows: 18rem 18rem 18rem 18rem;
      grid-row-gap: 1.2rem;
      grid-column-gap: 1.2rem;
    }
    @include respond(xs-phone) {
      grid-template-columns: 27rem;
      grid-template-rows: 18.5rem 18.5rem 18.5rem 18.5rem;
      grid-row-gap: 1.1rem;
      grid-column-gap: 1.1rem;
    }
  }
}
.service__card {
  &--1,
  &--2,
  &--3,
  &--4 {
    background-color: white;
    box-shadow: 4px 4px 54px rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding: 2rem 1.5rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: 4rem 20rem;
    grid-template-rows: 3rem 7rem;
    grid-row-gap: 0.1rem;
    // grid-column-gap: 0.5rem;
    align-items: center;
    transition: all ease-in-out 0.5s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 54px rgba(196, 196, 196, 0.1);
    }
    @include respond(tablet) {
      box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
      padding: 2.3rem auto;
    }
    @include respond(tab-port) {
      padding: 1rem;
      grid-template-columns: 15rem;
      grid-template-rows: 2.7rem 2.2rem 0 6rem;
      box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
      grid-row-gap: 0;
      justify-content: center;
      align-items: center;
    }
    @include respond(s-phone) {
      padding: 1rem;
      grid-template-columns: 15rem;
      grid-template-rows: 2rem 2.2rem 0 6rem;
      box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
      grid-row-gap: 0;
      justify-content: center;
      align-items: center;
    }
    @include respond(xs-phone) {
      padding: 1rem;
      grid-template-columns: 18rem;
      grid-template-rows: 3rem 3.5rem 0 8rem;
      box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
      grid-row-gap: 0;
      justify-content: center;
      align-items: center;
    }
  }
}

.service__card--1 > .title {
  @include cardTitle;
}
.service__card--1 > .description {
  @include cardDescription;
}
.service__card--2 > .title {
  @include cardTitle;
}
.service__card--2 > .description {
  @include cardDescription;
}
.service__card--3 > .title {
  @include cardTitle;
}
.service__card--3 > .description {
  @include cardDescription;
}
.service__card--4 > .title {
  @include cardTitle;
}
.service__card--4 > .description {
  @include cardDescription;
}

.globe-icon {
  width: 3rem;
  height: 3rem;
  @include respond(tablet) {
    width: 3rem;
    height: 3rem;
  }
  @include respond(tab-port) {
    width: 100%;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(s-phone) {
    width: 100%;
    height: 2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(xs-phone) {
    height: 2.7rem;
    width: 100%;
    fill: rgba(0, 0, 0, 0.55);
  }
}
.pen-icon {
  width: 2.7rem;
  height: 2.7rem;
  @include respond(tab-port) {
    width: 100%;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(s-phone) {
    width: 100%;
    height: 2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(xs-phone) {
    width: 100%;
    height: 2.7rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}
.graph-icon {
  width: 2.5rem;
  height: 2.2rem;
  @include respond(tab-port) {
    width: 100%;
    height: 1.9rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(s-phone) {
    width: 100%;
    height: 1.8rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(xs-phone) {
    width: 100%;
    height: 2.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}
.code-icon {
  width: 4rem;
  height: 4rem;
  @include respond(tab-port) {
    width: 100%;
    height: 4.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(s-phone) {
    width: 100%;
    height: 3.5rem;
    fill: rgba(0, 0, 0, 0.55);
  }
  @include respond(xs-phone) {
    width: 100%;
    height: 5.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}
