*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Noto sans, sans-serif;
  font-size: 62.5%;
}

@media only screen and (max-width: 26.5625em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 94%;
  }
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 99%;
  }
}

#header {
  width: 100%;
  height: 60rem;
  position: relative;
}

@media only screen and (max-width: 48em) {
  #header {
    width: 102rem;
    height: 80rem;
  }
}

@media only screen and (max-width: 31em) {
  #header {
    height: 74rem;
    width: 72rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  #header {
    width: 100%;
    height: 50rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  #header {
    width: 100%;
    height: 50rem;
  }
}

@media only screen and (max-width: 20em) {
  #header {
    width: 100%;
    height: 50rem;
  }
}

.background-design {
  width: 90rem;
  height: 100%;
  border-radius: 5px;
  background-color: #f3f3f3;
  position: absolute;
  top: 0.7%;
  left: 0.7%;
  z-index: -1;
}

@media only screen and (max-width: 31em) {
  .background-design {
    width: 98%;
    height: 85rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 26.5625em) {
  .background-design {
    width: 98%;
    height: 50rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 23.4375em) {
  .background-design {
    width: 98%;
    height: 50rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 20em) {
  .background-design {
    width: 98%;
    height: 50rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.contanier {
  width: 100%;
  height: 100%;
  padding: 3rem 6rem;
}

@media only screen and (max-width: 31em) {
  .contanier {
    padding: 5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .contanier {
    padding: 2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .contanier {
    padding: 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .contanier {
    padding: 2rem;
  }
}

.nav {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 48em) {
  .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 31em) {
  .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 20em) {
  .nav {
    width: 100%;
  }
}

.nav_logo {
  font-family: poppins, sans-serif;
  font-size: 1.11rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 31em) {
  .nav_logo {
    font-size: 1.58rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .nav_logo {
    font-size: 1.11rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .nav_logo {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 20em) {
  .nav_logo {
    font-size: 1rem;
  }
}

.nav_menuIcon {
  width: 1.7rem;
  height: 1rem;
  cursor: pointer;
}

.nav_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}

.nav_list--link {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-family: poppins;
}

.nav_remover {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 31em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 20em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content_text {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  padding: 12rem 0;
}

@media only screen and (max-width: 31em) {
  .content_text {
    height: 60rem;
    padding: 13rem 0;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content_text {
    height: auto;
    padding: 7rem 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content_text {
    height: auto;
    padding: 7rem 0;
  }
}

@media only screen and (max-width: 20em) {
  .content_text {
    height: auto;
    padding: 8rem 0;
  }
}

.content_text--heading {
  font-family: Noto sans, sans-serif;
  font-weight: 400;
  font-size: 3.7rem;
  width: 45rem;
  margin-bottom: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: slideFromLeft 1 2s;
          animation: slideFromLeft 1 2s;
}

@media only screen and (max-width: 31em) {
  .content_text--heading {
    width: 60rem;
    font-size: 5.3rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content_text--heading {
    width: 37rem;
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content_text--heading {
    width: 35rem;
    font-size: 3rem;
    margin-bottom: 1.8rem;
  }
}

@media only screen and (max-width: 20em) {
  .content_text--heading {
    width: 32rem;
    font-size: 2.9rem;
    margin-bottom: 1.8rem;
  }
}

.content_text--description {
  width: 38rem;
  font-family: Noto sans, sans-serif;
  font-size: 1.2rem;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5rem;
  -webkit-animation: slideFromLeft 1 2s;
          animation: slideFromLeft 1 2s;
}

@media only screen and (max-width: 31em) {
  .content_text--description {
    width: 55rem;
    line-height: normal;
    font-size: 1.9rem;
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content_text--description {
    width: 34rem;
    font-size: 1.17rem;
    line-height: normal;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content_text--description {
    width: 32rem;
    font-size: 1.16rem;
    line-height: normal;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 20em) {
  .content_text--description {
    width: 32rem;
    line-height: normal;
    font-size: 1.14rem;
    margin-bottom: 5rem;
  }
}

.content_text--buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 17rem;
      grid-template-columns: 17rem 17rem;
  -ms-grid-rows: 5rem 5rem;
      grid-template-rows: 5rem 5rem;
  grid-row-gap: 8rem;
  grid-column-gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slideFromBottom 1 3.3s;
          animation: slideFromBottom 1 3.3s;
}

@media only screen and (max-width: 31em) {
  .content_text--buttons {
    grid-row-gap: 10rem;
    grid-column-gap: 1rem;
    -ms-grid-columns: 31rem 31rem;
        grid-template-columns: 31rem 31rem;
    -ms-grid-rows: 5rem 5rem;
        grid-template-rows: 5rem 5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content_text--buttons {
    grid-row-gap: 5.8rem;
    -ms-grid-columns: 17rem 17rem;
        grid-template-columns: 17rem 17rem;
    -ms-grid-rows: 5rem 5rem;
        grid-template-rows: 5rem 5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content_text--buttons {
    grid-row-gap: 5.5rem;
    -ms-grid-columns: 17rem 17rem;
        grid-template-columns: 17rem 17rem;
    -ms-grid-rows: 5rem 5rem;
        grid-template-rows: 5rem 5rem;
  }
}

@media only screen and (max-width: 20em) {
  .content_text--buttons {
    grid-row-gap: 5rem;
    -ms-grid-columns: 17rem 17rem;
        grid-template-columns: 17rem 17rem;
    -ms-grid-rows: 5rem 5rem;
        grid-template-rows: 5rem 5rem;
  }
}

.content_image {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  padding: 11rem 0 0 5rem;
}

@media only screen and (max-width: 31em) {
  .content_image {
    padding: 0;
    height: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content_image {
    padding: 0;
    height: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content_image {
    padding: 0;
    height: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media only screen and (max-width: 20em) {
  .content_image {
    padding: 0;
    height: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.content_image--actual {
  width: 43rem;
}

@media only screen and (max-width: 31em) {
  .content_image--actual {
    display: none;
  }
}

@media only screen and (max-width: 26.5625em) {
  .content_image--actual {
    display: none;
  }
}

@media only screen and (max-width: 23.4375em) {
  .content_image--actual {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .content_image--actual {
    display: none;
  }
}

.btn-1 {
  width: 11rem;
  height: 3.5rem;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
  font-size: 0.96rem;
  cursor: pointer;
  -webkit-transition: scale ease-in-out 0.5s;
  transition: scale ease-in-out 0.5s;
}

.btn-1:hover {
  -webkit-transform: scaleX(1.04);
          transform: scaleX(1.04);
}

@media only screen and (max-width: 31em) {
  .btn-1 {
    width: 19rem;
    height: 6rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .btn-1 {
    width: 11rem;
    height: 3.5rem;
    font-size: 0.96rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .btn-1 {
    width: 11rem;
    height: 3.5rem;
    font-size: 0.96rem;
  }
}

@media only screen and (max-width: 20em) {
  .btn-1 {
    width: 11rem;
    height: 3.5rem;
    font-size: 0.96rem;
  }
}

.btn-2 {
  width: 12rem;
  height: 3.5rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 0.1rem solid black;
  cursor: pointer;
  -webkit-transition: scale ease-in-out 0.5s;
  transition: scale ease-in-out 0.5s;
}

.btn-2:hover {
  -webkit-transform: scaleX(1.04);
          transform: scaleX(1.04);
}

@media only screen and (max-width: 31em) {
  .btn-2 {
    width: 19rem;
    font-size: 1.8rem;
    height: 6rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .btn-2 {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .btn-2 {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 20em) {
  .btn-2 {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }
}

.btn-3 {
  width: 15.5rem;
  font-size: 1.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.7rem;
  color: #8e8e8e;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-3:hover {
  color: black;
}

@media only screen and (max-width: 31em) {
  .btn-3 {
    width: 25rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .btn-3 {
    width: 15.5rem;
    font-size: 1.16rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .btn-3 {
    width: 14.8rem;
    font-size: 1.16rem;
  }
}

@media only screen and (max-width: 20em) {
  .btn-3 {
    width: 14.5rem;
    font-size: 1.16rem;
  }
}

.plus--icon {
  width: 1.9rem;
  height: 1.9rem;
}

@media only screen and (max-width: 31em) {
  .plus--icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .plus--icon {
    width: 1.9rem;
    height: 1.9rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .plus--icon {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 20em) {
  .plus--icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 30%;
  }
}

@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 30%;
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(40rem);
            transform: translateY(40rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(40rem);
            transform: translateY(40rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

#services {
  width: 100%;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.services__contanier {
  height: 63rem;
  background-color: rgba(227, 227, 227, 0.5);
  margin: 0.7rem;
  padding: 15rem 5.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 48em) {
  .services__contanier {
    width: 100.4rem;
  }
}

@media only screen and (max-width: 31em) {
  .services__contanier {
    width: 71rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 2rem;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .services__contanier {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 2rem;
    margin: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .services__contanier {
    width: 100%;
    height: 100%;
    padding: 6rem 4.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

@media only screen and (max-width: 20em) {
  .services__contanier {
    width: 100%;
    height: 100%;
    padding: 7rem 4.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.services__contanier--text {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  width: 100%;
}

@media only screen and (max-width: 48em) {
  .services__contanier--text {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding: 0 5rem 0 0;
  }
}

@media only screen and (max-width: 31em) {
  .services__contanier--text {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-bottom: 7rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .services__contanier--text {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-bottom: 7rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .services__contanier--text {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 20em) {
  .services__contanier--text {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-bottom: 5rem;
  }
}

.services__contanier--text > .title {
  font-size: 3rem;
  font-weight: 400rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 48em) {
  .services__contanier--text > .title {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 31em) {
  .services__contanier--text > .title {
    font-size: 3.7rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .services__contanier--text > .title {
    font-size: 2.6rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .services__contanier--text > .title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1.1rem;
  }
}

@media only screen and (max-width: 20em) {
  .services__contanier--text > .title {
    font-size: 2.2rem;
    text-align: center;
  }
}

.services__contanier--text > .description {
  width: 30rem;
  height: auto;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 3.8rem;
  font-size: 1.16rem;
}

@media only screen and (max-width: 48em) {
  .services__contanier--text > .description {
    width: 27rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 31em) {
  .services__contanier--text > .description {
    font-size: 1.6rem;
    width: 38rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .services__contanier--text > .description {
    width: 24rem;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .services__contanier--text > .description {
    width: 24rem;
    font-size: 1.1rem;
    margin: 3rem auto;
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .services__contanier--text > .description {
    width: 24rem;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.services__contanier--text > .explore-btn {
  width: 12rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: black;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 31em) {
  .services__contanier--text > .explore-btn {
    width: 13rem;
    height: 4.4rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .services__contanier--text > .explore-btn {
    width: 12rem;
    height: 3.5rem;
    margin-left: 0;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (max-width: 23.4375em) {
  .services__contanier--text > .explore-btn {
    width: 11rem;
    height: 3.4rem;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 0 10rem;
  }
}

@media only screen and (max-width: 20em) {
  .services__contanier--text > .explore-btn {
    width: 10rem;
    height: 3rem;
    font-size: 1.05rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 0 8rem;
  }
}

.services__contanier--cards {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28rem 28rem;
      grid-template-columns: 28rem 28rem;
  -ms-grid-rows: 15rem 15rem;
      grid-template-rows: 15rem 15rem;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

@media only screen and (max-width: 48em) {
  .services__contanier--cards {
    -ms-grid-columns: 27rem 27rem;
        grid-template-columns: 27rem 27rem;
    -ms-grid-rows: 16rem 16rem;
        grid-template-rows: 16rem 16rem;
    grid-row-gap: 1.3rem;
    grid-column-gap: 1.3rem;
  }
}

@media only screen and (max-width: 31em) {
  .services__contanier--cards {
    -ms-grid-columns: 32rem 32rem;
        grid-template-columns: 32rem 32rem;
    -ms-grid-rows: 21rem 21rem;
        grid-template-rows: 21rem 21rem;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .services__contanier--cards {
    -ms-grid-columns: 21.8rem 21.8rem;
        grid-template-columns: 21.8rem 21.8rem;
    -ms-grid-rows: 15rem 15rem;
        grid-template-rows: 15rem 15rem;
    grid-row-gap: 1.2rem;
    grid-column-gap: 1.2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .services__contanier--cards {
    -ms-grid-columns: 28rem;
        grid-template-columns: 28rem;
    -ms-grid-rows: 18rem 18rem 18rem 18rem;
        grid-template-rows: 18rem 18rem 18rem 18rem;
    grid-row-gap: 1.2rem;
    grid-column-gap: 1.2rem;
  }
}

@media only screen and (max-width: 20em) {
  .services__contanier--cards {
    -ms-grid-columns: 27rem;
        grid-template-columns: 27rem;
    -ms-grid-rows: 18.5rem 18.5rem 18.5rem 18.5rem;
        grid-template-rows: 18.5rem 18.5rem 18.5rem 18.5rem;
    grid-row-gap: 1.1rem;
    grid-column-gap: 1.1rem;
  }
}

.service__card--1, .service__card--2, .service__card--3, .service__card--4 {
  background-color: white;
  -webkit-box-shadow: 4px 4px 54px rgba(196, 196, 196, 0.5);
          box-shadow: 4px 4px 54px rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  padding: 2rem 1.5rem;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4rem 20rem;
      grid-template-columns: 4rem 20rem;
  -ms-grid-rows: 3rem 7rem;
      grid-template-rows: 3rem 7rem;
  grid-row-gap: 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.service__card--1:hover, .service__card--2:hover, .service__card--3:hover, .service__card--4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 4px 4px 54px rgba(196, 196, 196, 0.1);
          box-shadow: 4px 4px 54px rgba(196, 196, 196, 0.1);
}

@media only screen and (max-width: 48em) {
  .service__card--1, .service__card--2, .service__card--3, .service__card--4 {
    padding: 1rem;
    -ms-grid-columns: 4rem 20rem;
        grid-template-columns: 4rem 20rem;
    -ms-grid-rows: 4rem 8rem;
        grid-template-rows: 4rem 8rem;
    grid-row-gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 31em) {
  .service__card--1, .service__card--2, .service__card--3, .service__card--4 {
    padding: 1rem;
    -ms-grid-columns: 22rem;
        grid-template-columns: 22rem;
    -ms-grid-rows: 3rem 2rem 0 9rem;
        grid-template-rows: 3rem 2rem 0 9rem;
    -webkit-box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
            box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
    grid-row-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--1, .service__card--2, .service__card--3, .service__card--4 {
    padding: 1rem;
    -ms-grid-columns: 15rem;
        grid-template-columns: 15rem;
    -ms-grid-rows: 2.7rem 3.2rem 0 7.5rem;
        grid-template-rows: 2.7rem 3.2rem 0 7.5rem;
    -webkit-box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
            box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
    grid-row-gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--1, .service__card--2, .service__card--3, .service__card--4 {
    padding: 1rem;
    -ms-grid-columns: 15rem;
        grid-template-columns: 15rem;
    -ms-grid-rows: 3.2rem 3.7rem 0 9rem;
        grid-template-rows: 3.2rem 3.7rem 0 9rem;
    -webkit-box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
            box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
    grid-row-gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 20em) {
  .service__card--1, .service__card--2, .service__card--3, .service__card--4 {
    padding: 1rem;
    -ms-grid-columns: 18rem;
        grid-template-columns: 18rem;
    -ms-grid-rows: 3rem 3.5rem 0 8rem;
        grid-template-rows: 3rem 3.5rem 0 8rem;
    -webkit-box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
            box-shadow: 4px 4px 24px rgba(196, 196, 196, 0.5);
    grid-row-gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service__card--1 > .title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Noto sans, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 48em) {
  .service__card--1 > .title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 31em) {
  .service__card--1 > .title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--1 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--1 > .title {
    font-size: 1.17rem;
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .service__card--1 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--1 > .description {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 48em) {
  .service__card--1 > .description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 31em) {
  .service__card--1 > .description {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--1 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--1 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 20em) {
  .service__card--1 > .description {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--2 > .title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Noto sans, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 48em) {
  .service__card--2 > .title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 31em) {
  .service__card--2 > .title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--2 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--2 > .title {
    font-size: 1.17rem;
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .service__card--2 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--2 > .description {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 48em) {
  .service__card--2 > .description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 31em) {
  .service__card--2 > .description {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--2 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--2 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 20em) {
  .service__card--2 > .description {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--3 > .title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Noto sans, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 48em) {
  .service__card--3 > .title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 31em) {
  .service__card--3 > .title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--3 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--3 > .title {
    font-size: 1.17rem;
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .service__card--3 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--3 > .description {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 48em) {
  .service__card--3 > .description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 31em) {
  .service__card--3 > .description {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--3 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--3 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 20em) {
  .service__card--3 > .description {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--4 > .title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Noto sans, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 48em) {
  .service__card--4 > .title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 31em) {
  .service__card--4 > .title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--4 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--4 > .title {
    font-size: 1.17rem;
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .service__card--4 > .title {
    font-size: 1.1rem;
    text-align: center;
  }
}

.service__card--4 > .description {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 48em) {
  .service__card--4 > .description {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 31em) {
  .service__card--4 > .description {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 26.5625em) {
  .service__card--4 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 23.4375em) {
  .service__card--4 > .description {
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 20em) {
  .service__card--4 > .description {
    color: rgba(0, 0, 0, 0.55);
    font-size: 1.1rem;
    text-align: center;
  }
}

.globe-icon {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 31em) {
  .globe-icon {
    width: 100%;
    height: 3.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 26.5625em) {
  .globe-icon {
    width: 100%;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 23.4375em) {
  .globe-icon {
    width: 100%;
    height: 3rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 20em) {
  .globe-icon {
    height: 2.7rem;
    width: 100%;
    fill: rgba(0, 0, 0, 0.55);
  }
}

.pen-icon {
  width: 2.7rem;
  height: 2.7rem;
}

@media only screen and (max-width: 31em) {
  .pen-icon {
    width: 100%;
    height: 3rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 26.5625em) {
  .pen-icon {
    width: 100%;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 23.4375em) {
  .pen-icon {
    width: 100%;
    height: 3rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 20em) {
  .pen-icon {
    width: 100%;
    height: 2.7rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

.graph-icon {
  width: 2.5rem;
  height: 2.2rem;
}

@media only screen and (max-width: 31em) {
  .graph-icon {
    width: 100%;
    height: 2.5rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 26.5625em) {
  .graph-icon {
    width: 100%;
    height: 1.9rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 23.4375em) {
  .graph-icon {
    width: 100%;
    height: 2.5rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 20em) {
  .graph-icon {
    width: 100%;
    height: 2.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

.code-icon {
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 31em) {
  .code-icon {
    width: 100%;
    height: 5.7rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 26.5625em) {
  .code-icon {
    width: 100%;
    height: 4.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 23.4375em) {
  .code-icon {
    width: 100%;
    height: 6rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

@media only screen and (max-width: 20em) {
  .code-icon {
    width: 100%;
    height: 5.2rem;
    fill: rgba(0, 0, 0, 0.55);
  }
}

.portfolio {
  width: 100%;
  height: auto;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0 5rem;
  font-family: poppins, sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 20em) {
  .portfolio__filter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11rem 11rem;
        grid-template-columns: 11rem 11rem;
    -ms-grid-rows: 4rem 4rem 4rem 4rem;
        grid-template-rows: 4rem 4rem 4rem 4rem;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__filter--filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 2rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
}

@media only screen and (max-width: 20em) {
  .portfolio__filter--filter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.8rem 1rem;
  }
}

.portfolio__filter--filter > .icon {
  width: 1.3rem;
  height: 1.3rem;
  fill: rgba(255, 255, 255, 0.7);
  margin-right: 0.3rem;
}

.portfolio__filter--btn {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.portfolio__video {
  width: 100%;
  padding: 2rem 6rem 0 6rem;
  margin: 2rem 0 0 0;
}

@media only screen and (max-width: 20em) {
  .portfolio__video {
    padding: 2rem;
  }
}

.portfolio__info {
  padding: 2rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 20em) {
  .portfolio__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

.portfolio__info--1 {
  height: 12rem;
  padding: 0 7rem 0 0;
}

@media only screen and (max-width: 20em) {
  .portfolio__info--1 {
    height: auto;
    padding: 0 0 4rem 0;
  }
}

.portfolio__info--1 > .title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 20em) {
  .portfolio__info--1 > .title {
    text-align: center;
    font-size: 1.6rem;
  }
}

.portfolio__info--1 > .description {
  width: 48rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 20em) {
  .portfolio__info--1 > .description {
    width: 30rem;
    text-align: center;
  }
}

.portfolio__info--2 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  border-left: 2px solid lightgray;
  padding-left: 2rem;
}

@media only screen and (max-width: 20em) {
  .portfolio__info--2 {
    border-left: none;
    border-top: 2px solid lightgray;
    padding: 2rem;
  }
}

.portfolio__info--2 > .title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 20em) {
  .portfolio__info--2 > .title {
    text-align: center;
  }
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 7rem;
  font-family: poppins, sans-serif;
}

@media only screen and (max-width: 20em) {
  .heading {
    font-size: 1.8rem;
  }
}

.video {
  width: 100rem;
}

@media only screen and (max-width: 20em) {
  .video {
    width: 31rem;
  }
}

.language__1,
.language__2,
.language__3,
.language__4 {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 20em) {
  .language__1,
  .language__2,
  .language__3,
  .language__4 {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */